
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark colorBlue">
    <h5 class="panvelTitle">PanVel</h5>

    <a class="ml-3 text-light" [routerLink]="['/lista']" href="#">Lista</a>
    <a class="ml-3 text-light"[routerLink]="['/cesta']" href="#">Cesta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="navbar-collapse collapse show col-md-12 p-0" id="navbarColor01">
    <form class="form-inline">
      <div class="w5 icon float-left text-center"><i class="mt-3 fas fa-bars"></i></div>
       <input type="text" #valorBusca name="search" class="form-control w95 fontAwesome"  placeholder="Buscar por item">
    </form>
</div>




<!--&#xF002; -->

