
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark colorBlue">
    <h5 class="panvelTitle">Panvel</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Início</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cesta</a>
            </li>
          </ul>
        <form class="form-inline col-md-6">
            <input class="form-control mr-sm-1 col-9" type="search" placeholder="Buscar um Item" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
  </nav>
