
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark colorBlue">
    <h5 class="panvelTitle">Panvel</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="navbar-collapse collapse show col-xl-12" id="navbarColor01">
    <form class="form-inline">
       <!--se for usar o botao, usar col-xl-11--> <input class="form-control mr-sm-1 col-xl-12 fontAwesome" type="search" placeholder="&#xF002; Buscar por item" aria-label="Search">
       <!-- <button class="btn btn-outline-dark col-xl" type="submit">Buscar</button> -->
    </form>
</div>
