<div class="teste">
    <footer class="footer fixed-bottom col-md-12">

        <div class="col-md-8 float-left text-right" >
            <div *ngIf="descontos > 0" class="col-md-9 float-left col-xl-10">
                <h6 class="pt-3 font-weight-bold">Descontos</h6>
                <h5 class="desc font-weight-bold">{{ descontos }}</h5>
            </div>
            <div class="col-md-3 float-right col-xl-2">
                    <h6 class="pt-3 font-weight-bold">Total</h6>
                    <h5 class="font-weight-bold">{{ total }}</h5>
              <!--  <h5 class="font-weight-bold">{{ this.FooterService.filtraNumero(total) }}</h5> -->
            </div>
        </div>
        

        <div class="col-md-4 float-left align-items-left mt-2">
            <hr class="vertical">
            <button type="button" class="ml-1 col-md-4 btn btn-outline-light font-weight-bolder mt-3 disabled entrega" aria-disabled="true">Entrega</button>
            <button type="button" class="btn preVenda col-md-7 float-right mt-3">Salvar pré-venda</button>
        </div>
    </footer>

</div>
