.panvelTitle{
  font-style: italic;
  color: white;
}
.red{
    background-color: red !important;
}
.item{
    background-color: #E7EEF2;
}
img{
    width: 100%;
    height: 100%;
    float: left;
}
.blue{
  background-color: #0F184C !important;
  color: white;
}

.buttonOmni{
  border-radius: 50%;
  background-color: #41B9DA;
  color: white;
  border: none !important;
  height: 30px;
  width: 30px;
  font-weight: bolder;
  font: sans-serif;

}
.buttonTrash{
  text-decoration: none;
  border: none;
  color: grey;
  font-size: 200%;
}
.buttonOmni:focus{
  outline-style: none;
}
.inputOmni{
  border-radius: 4px !important; 
  background-color: white;
  border: 1px solid lightgrey;
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 120%;
}