
<div class="row">
        <div class="col-sm-12 item mt-1 p-0" *ngFor="let item of cesta; let i = index">
                <div class="col-sm-12 float-left">
                    <p class="pt-2 text-uppercase font-weight-bold col-sm-6 float-left">{{ [cesta.length-i] }} - {{ cesta[i].produto.codigo }} - {{ cesta[i].produto.nome }}</p>
                
                    <div class="col-sm-2 float-left">

                        <ng-template [ngIf]="cesta[i].produto.estoque > 0">
                                <p class="mt-3 text-success">Disponível: {{ cesta[i].produto.estoque }}</p>
                        </ng-template>
                      
                        <ng-template [ngIf]="cesta[i].produto.estoque < 0">
                            <p class="mt-3 text-danger">Disponível: {{ cesta[i].produto.estoque }}</p>
                        </ng-template>

                        <ng-template [ngIf]="cesta[i].produto.estoque === 0">
                                <p class="mt-3 text-muted">Sem estoque</p>
                        </ng-template>

                        <p class="font-weight-bold">Reservado: {{ cesta[i].quantidadeEntregar }}</p>
                    </div>
    
                    <div class="col-sm-2 float-left align-items-center">
                        <div *ngIf="cesta[i].produto.valorDesconto == 0 ; else desconto">
                            <p class="mt-3  font-weight-bold">Preço</p>
                            <h5 class="font-weight-bold">{{ cesta[i].produto.precoDe | currency: 'BRL' }} </h5> 
                        </div>  

                        <ng-template #desconto>
                            <p class="pt-1 font-weight-bold">Promoção</p>
                            <p class="margin laranja offset-xl-1 offset-md-1"><del>{{ cesta[i].produto.precoDe | currency: 'BRL' }}</del></p> 
                            <p class="margin desc col-xl-3 col-sm-6 text-center">-{{ cesta[i].produto.percentualDesconto | mathTrunc }}%</p>
                            <h6 class="margin mb-2 laranja font-weight-bold offset-xl-1 offset-md-1">{{ cesta[i].produto.precoPor | currency: 'BRL' }}</h6>
                        </ng-template>
                    
                    </div>
    
                    <div class="col-md-2 float-left pt-4 text-right">
                       
                        <button *ngIf="cesta[i].quantidade <2 ; else quantidadeMaior"
                        class="buttonOmniDisabled text-center"><i class="fas fa-minus"></i></button>
                        <ng-template #quantidadeMaior>
                            <button (click)=diminuiQuantidade(i) class="buttonOmni text-center"><i class="fas fa-minus"></i></button>
                        </ng-template>


                        <input 
                        (keyup)="setQuantidadeInput(i,$event.target.value)"
                        class="inputOmni col-sm-4" type="text" [value]="cesta[i].quantidade">


                        <button *ngIf="cesta[i].quantidade < 99 ; else quantidadeMax"
                        (click)=aumentaQuantidade(i) class="buttonOmni"><i class="fas fa-plus"></i></button> 
                        <ng-template #quantidadeMax>
                            <button class="buttonOmniDisabled text-center"><i class="fas fa-plus"></i></button>
                        </ng-template>

                        
                        <a (click)=deletaItem(i) class="float-right buttonTrash text-right"><i class="far fa-trash-alt"></i></a>

                    </div>   
                </div>              
        </div>
    </div>
<pdv-footer 
    [total]="valorTotal"
    [descontos]="descontoTotal">   
</pdv-footer>


