.app-input-crm{
    padding-right: 0px;
}
input {
    height: 38px;
    font-weight: bold;
}

.input-com-button {
    border-radius: 4px 0px 0px 4px;
}

.input-com-button:focus {
    border: 2px solid #28B9DA;
    border-radius: 4px 0px 0px 4px;
}
.btn-com-icone {
    margin-top: 19px;
    border-left-style: hidden;
    color: #37B7D8;
    height: 44px;
    border-radius: 0px 4px 4px 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ::ng-deep .icon-carregando {
    color: #FFFFFF;
    font-size: 18px;
} */
