<form [formGroup]="medicoForm">
    <div class="col-md-3">
        <label >{{ isRequiredLabel(medicoForm, 'tipo')}}Conselho</label>
        <select formControlName="tipo" class="select form-control">
            <option *ngFor="let tipo of listaTipo" value="{{tipo?.codigo}}">{{tipo.descricao}}</option>
        </select>
    </div>
    <div class="col-md-3">
        <label >{{ isRequiredLabel(medicoForm, 'uf')}}UF</label>
        <select formControlName="uf" class="select form-control">
            <option *ngFor="let uf of listaUf" value="{{uf}}">{{uf}}</option>
        </select>
    </div>
    <div class="col-md-6">
        <app-input class="col-sm-10 app-input-crm" [showTip]="false" [label]="'Número de registro'" [required]="isRequired(medicoForm,
        'codigoRegistro')">
            <input id="codigoRegistro" type="text" class="input-com-button form-control" formControlName="codigoRegistro"
                   autocomplete="off" (keydown.enter)="buscarMedico()" onlyNumbers maxlength="12">
        </app-input>
        <button #buttonBuscaMedico title="Pesquisar por CRM" type="button" class="btn btn-default btn-com-icone col-sm-2" autocomplete="off" (click)="buscarMedico()">
            <i class="fa fa-search ng-scope altura"></i>
        </button>
   </div>
    <app-input [ngClass]="getClassNomeMedico()" [showTip]="false" [label]="'Nome do profissional'" [required]="isRequired(medicoForm, 'nome')">
        <input type="text" class="form-control" formControlName="nome" readonly>
    </app-input>
</form>
