<div class="row">
    <div class="col-xl-12 item mt-1">
        <div class="col-xl-12 mt-1">
            <div class="col-xl-10 float-left">
                <p class="pt-2 text-uppercase font-weight-bold col-xl-6 float-left">1 - 532580 - ibuprofeno 100mg</p>
            
                <div class="col-xl-3 float-left">
                    <p class="pt-1 text-success">Disponível: 1</p>
                    <p class="font-weight-bold">Reservado: 0</p>
                </div>

                <div class="col-xl-2 float-left">
                    <p class="pt-1 font-weight-bold">Preço</p>
                    <h5 class="font-weight-bold">0,19</h5>
                </div>
                
            </div>          
        </div>
    </div>

</div>