.red{
      background-color: red !important;
}
.item{
      background-color: #E7EEF2;
  }

.bg-preco{
    background-color: #FCE6A6 !important;
}
.buttonAdicionar{
    background-color: #41B9DA;
    color: white;
    box-shadow: 0 4px 17px rgba(black, 0.35);
}
.preco{
    background-color: #F58320;
    color: white;
    font-size: 80%;
    border-radius: 4px;
}
.laranja{
    color: #F68405;
}
.desc{
    background-color: #F68405;
    color: white
}
.margin{
    margin-top: -15px !important;
}