.panvelTitle{
    font-style: italic;
    color: white;
  }
  .red{
      background-color: red !important;
  }
  .item{
      background-color: #E7EEF2;
  }
  img{
      width: 100%;
      height: 100%;
      float: left;
  }
  .blue{
    background-color: #0F184C !important;
    color: white;
  }