<div class="row ">
    <div class="col-md-12 item mt-1 d-none d-md-block">
            <div class="col-md-12 float-left">
                <div class="col-md-2 offset-md-6 float-left text-left">
                    <p class="mt-3 ml-3 text-muted">Estoque</p>
                </div>

                <div class="col-md-2  float-left bg-preco text-center">
                    <p class="preco col-md-10 offset-md-1 mt-3 font-weight-bold">PREÇO</p>
                </div>        
            </div>          
    </div>
</div>


<div class="row">
    <div class="col-md-12 item mt-1">
            <div class="col-md-12 float-left">
                <p class="pt-2 text-uppercase font-weight-bold col-md-6 float-left">1 - 532580 - ibuprofeno 100mg</p>
            
                <div class="col-md-2 float-left">
                    <p class="mt-3 text-success">Disponível: 1</p>
                    <p class="font-weight-bold">Reservado: 0</p>
                </div>

                <div class="col-md-2 float-left bg-preco text-center">
                    <p class="mt-3 font-weight-bold">Preço</p>
                    <h6 class="mb-3 font-weight-bold">0,19</h6>
                </div>

                <div class="col-md-2 float-right text-center pt-3">
                    <button class="mt-2 btn buttonAdicionar">Adicionar</button>
                </div>          
        </div>          
    </div>

    <div class="col-md-12 item mt-1">
            <div class="col-md-12 float-left">
                <p class="pt-2 text-uppercase font-weight-bold col-md-6 float-left">1 - 532580 - ibuprofeno 100mg</p>
            
                <div class="col-md-2 float-left">
                    <p class="mt-3 text-success">Disponível: 1</p>
                    <p class="font-weight-bold">Reservado: 0</p>
                </div>

                <div class="col-md-2 float-left bg-preco text-center">
                    <p class="mt-3 font-weight-bold">Preço</p>
                    <h6 class="mb-3 font-weight-bold">0,19</h6>
                </div>

                <div class="col-md-2 float-right text-center pt-3">
                    <button class="mt-2 btn buttonAdicionar">Adicionar</button>
                </div>          
        </div>          
    </div>    
</div>    